<!-- <form #userForm="ngForm" ngNativeValidate  (ngSubmit)="onSubmit(userForm)"> -->
<form #login="ngForm" validate  (ngSubmit)="onSubmit(login.value)">
  <div class="container margins-custom" >
  <div class="form-group mx-sm-3 mb-2 col-md-4">
    <label for="exampleInputEmail1" class="sr-only">Email address</label>
    <input type="email" required  name="exampleInputEmail1" #email="ngModel" [ngModel]="usermodel.EmailId" class="form-control"   id="exampleInputEmail1" placeholder="Enter email">
    <div class="alert alert-danger" [hidden]="email.valid">Email is required</div>
  </div>
  <div class="form-group mx-sm-3 mb-2 col-md-4">
    <label for="examplePassword1" class="sr-only">Password</label>
    <input type="password" required  name="examplePassword1" #pwd="ngModel" [(ngModel)]="usermodel.Password" class="form-control"   id="examplePassword1" placeholder="Enter email">
    <div class="alert alert-danger" [hidden]="pwd.valid">Password is required</div>
  </div>
  <!-- <div class="form-group mx-sm-3 mb-2 col-md-4">
    <label for="inpu2" class="sr-only">Password</label>
    <input type="email" requried  name="inpu2"  #pwd="ngModel" [(ngModel)]="usermodel.Password" class="form-control" id="inpu2" placeholder="Password">
    <div class="alert alert-danger" [hidden]="pwd.valid">Passord is required</div>
  </div> -->
  <div class="form-check mx-sm-3 mb-2 col-md-4">
    <input type="checkbox" name="exampleCheck1" #exampleCheck1="ngModel"  class="form-check-input" [(ngModel)]="usermodel.RememberPassword" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary mx-sm-3  mb-2" [disabled]="!login.valid" >Submit</button>
</div>
<div>
  <span>EmailId: {{usermodel.EmailId}}</span><div></div>
  <span>Passord: {{usermodel.Password}}</span><div></div>
  <span>checked:{{usermodel.RememberPassword}}</span><div></div>
  <span>FormValid:{{login.valid}}</span><div></div>
  <span>EmailValid:{{email.valid}}</span><div></div>
  <span>EmailPristine:{{email.pristine}}</span><div></div>
  <span>EmailDirty:{{email.dirty}}</span><div></div>
  <span>Emailtouched:{{email.touched}}</span><div></div>
  <span>PasswordValid:{{pwd.valid}}</span><div></div>
  <span>Checked:{{login.valid}}</span><div></div>
</div>
</form>